.teacher-main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-main-container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.class-box{
    width: 200px;
    margin-right: 40px;
    border: 1px solid gray;
    margin-bottom: 3%;
    a{
        color: black;
        text-decoration: none;
    }
    h3{
        margin-left: 10px;
        margin-bottom: 0;
    }
    h4{
        margin-left: 10px;
        margin-top: 0;
        font-size: 15px;
        color: gray;
    }
}
.class-box-nav{
    border-bottom: 1px solid gray;
}
.class-box-bottom{
    p{
        color: gray;
        margin-left: 10px;
        font-size: 13px;
    }
}
.class-box a:hover{
    text-decoration: underline;
}
.class-participants{
    border-bottom: 1px solid gray;
    p{
        font-size: 20px;
        margin-bottom: 0;
    }
    span{
        color: gray;
        font-size: 15px;
    }
}