.teacher-main-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 15px;
        color: gray;
    }
}

.teacher-main-container {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.class-box-contain {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.teacher-main-btn-box {
    display: flex;
    justify-content: space-between;
}

.class-fix-btn {
    display: flex;

    button {
        @extend .add-class-btn;
        margin-left: 30px;
    }
}

.add-class-btn {
    border: none;
    background-color: #0d6efd;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.class-box-teacher {
    margin-right: 40px;
    margin-bottom: 3%;

    a {
        color: black;
        text-decoration: none;
    }

}

.class-box-nav-teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    background-color: #DDE5F0;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    p {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 0;
    }

    span {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: gray;
        margin-left: 10px;
    }

    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 7px;
    }

    button:hover {
        color: black;
    }
}

.class-box-bottom {
    p {
        color: gray;
        margin-left: 10px;
        font-size: 13px;
    }
}

.class-box-teacher a:hover {
    text-decoration: underline;
}

.class-participants {
    border-bottom: 1px solid gray;

    p {
        font-size: 20px;
        margin-bottom: 0;
    }

    span {
        color: gray;
        font-size: 15px;
    }
}

.class-participants-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;

    p {
        display: flex;
        align-items: center;
        background-color: #0d6efd;
        height: 50px;
        color: white;
        font-weight: bold;
        margin-top: 0;
        padding-left: 5px;
        font-size: 20px;
        justify-content: space-between;
        border-radius: 10px;
    }

    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 7px;
    }
}

.stu-boxs {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.add-stu-modal {
    display: flex;
    flex-direction: column;

    button {
        border: none;
        margin-top: 20px;
        border-radius: 12px;
        background-color: #0d6efd;
        color: white;
        height: 35px;
        cursor: pointer;
        font-weight: bold;
    }

    input {
        height: 25px;
        margin-bottom: 15px;
    }
}

.add-lesson-modal {
    display: flex;
    flex-direction: column;

    input {
        height: 25px;
        margin-bottom: 15px;
    }

    select {
        height: 30px;
    }
}

.add-lesson-btn {
    border: none;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #0d6efd;
    color: white;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
}

.change-lesson-name-modal {
    @extend .add-stu-modal;
}

.change-lesson-des-modal {
    @extend .add-stu-modal;
}