.Info-nav-bar {
    display: flex;
    height: 80px;
    background-color: #0d6efd;
    justify-content: space-between;
    align-items: center;

    p {
        color: white;
        margin-left: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration: none;
    }

}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}

.home-image-and-desc {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

    img {
        width: 500px;
        height: 400px;
    }

    p {
        margin-bottom: 0;
        margin-top: 13px;
        font-size: 20px;
    }
}

.login-info-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbe0e2;
    background-color: #f8f9fb;
    min-width: 300px;
    width: 40%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;

}

.login-logout {
    width: 70%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10%;
    border-radius: 12px;
    padding: 20px;
    background-color: RGB(120, 180, 234, 0.9);

    a {
        color: white;
        text-decoration: none;
    }
}

.register {
    color: #758c9d;

    a {
        margin-left: 2px;
        color: #758c9d;
        text-decoration: none;
    }
}

.home-my-class-info {
    @extend.login-logout;
}

.home-logout-btn {
    color: #758c9d;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    background-color: transparent;
}