.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-form {
    form{
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    label{
        color: gray;
        font-size: 20px;
    }
    input{
        height: 30px;
    }
    button{
        margin-top: 20px;
    }
}