.dash-board-nav {
    display: flex;
    background-color: whitesmoke;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.dash-side-bar {
    width: 200px;
    background-color: whitesmoke;
    height: 95vh;
    float: left;
    border-right: 1px solid black;
}

.dash-main {
    display: flex;
}

.dash-list {
    display: flex;
    flex-wrap: wrap;
}

.stu-info {
    background-color: gray;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.new-question-bar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 50px;

    button {
        margin-left: 20px;
    }
}

.stu-name {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
.question{
    a{
        text-decoration: none;
        color: black;
    }
}
.question:hover {
    background-color: #89B2E9;
}

.solved-question {
    div {
        color: gray;
    }

    span {
        color: gray;
    }
    a{
        text-decoration: none;
    }
}
.line-box:hover{
    background-color:beige;
}
.line-box{
    div{
        font-size: 14px;
    }
}